$circleBg: #363636;
$iconBg: #636363;
$colorTitle: #636363;
$colorText: #555555;

.advantages__title {
	@include visually-hidden;
}

.advantages__list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, auto));
	gap: 30px;
	padding-top: 65px;
	padding-bottom: 50px;

	justify-content: center;
}

.advantages__item {
	position: relative;
	margin: 15px 0;

	&:hover {
		.advantages__img {
			border-color: $second;
		}

		.advantages__svg {
			fill: $second;
		}

		.advantages__subtitle {
			color: $second;
		}

		.advantages__text {
			color: $white;
		}
	}
}

.advantages__img {
	border: 1px solid $circleBg;
	border-radius: 50%;
	position: relative;
	width: 104px;
	height: 104px;
	transition-duration: 500ms;
	transition-property: border-color;
}

.advantages__svg {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 40px;
	transform: translate(-50%, -50%);
	fill: $iconBg;
	transition-duration: 500ms;
	transition-property: fill;
}

.advantages__subtitle {
	font-size: 18px;
	font-family: $fontRaleway;
	color: $colorTitle;
	line-height: 1.111;
	margin: 20px 0;
	transition-duration: 500ms;
	transition-property: color;
}

.advantages__text {
	font-size: 14px;
	color: $colorText;
	line-height: 1.429;
	margin: 20px 0;
	transition-duration: 500ms;
	transition-property: color;
}

.advantages__item::after {
	content: '';
	display: block;
	background-color: $second;
	position: absolute;
	width: 70px;
	height: 2px;

	bottom: 0;
}

@media (max-width: 980px) {
	.advantages__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {
	.advantages__list {
		grid-template-columns: repeat(1, 1fr);
		padding-top: 30px;
		padding-bottom: 25px;
	}

	.advantages__item {
		text-align: center;
	}

	.advantages__img {
		margin: 0 auto;
	}

	.advantages__item::after {
		left: calc(50% - 35px);
	}
}
